WS_MONITOR="${XDG_CONFIG_HOME}/eww/bin/workspaces"
CPU_MONITOR="${XDG_CONFIG_HOME}/eww/bin/cpu"
MIC_MONITOR="${XDG_CONFIG_HOME}/eww/bin/mic"
WIFI_MONITOR="${XDG_CONFIG_HOME}/eww/bin/wifi"
VOLUME_MONITOR="${XDG_CONFIG_HOME}/eww/bin/volume"
MEMORY_MONITOR="${XDG_CONFIG_HOME}/eww/bin/memory"
BATTERY_MONITOR="${XDG_CONFIG_HOME}/eww/bin/battery"
BACKLIGHT_MONITOR="${XDG_CONFIG_HOME}/eww/bin/backlight"

LAUNCHER="swaymsg exec \$menu"
CHANGE_WS="swaymsg workspace number"
PROFILER="swaymsg exec '$term -a \"btop\" -e btop -p 0'"
NETWORK="swaymsg exec '$term -a \"nmtui\" -e nmtui'"
